hr{
    margin: 0;
}
.inner{
    height: 100%;
}

.topPanel{
    width: 100%;
    min-height: 80px;

    display: flex;
    justify-content: space-between;
}

.bodyBlock{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: block;

    max-height: 500px;
}

.titleInput{
    margin: 20px 30px;
    float: left;
    cursor: text;
    display: block;
    border: none;

    width: 90%;
    font-size: 30px;
    background-color: #cbe3e3;
}


.titleInput:focus{
    outline: none;
}

.bodyInput:empty::before {
    content: attr(data-placeholder);
    color: #555;
}

.bodyInput{
    text-align: left;
    width: 95%;
    min-height: 400px;
    font-size: 20px;
    padding: 10px;

    margin: auto;
}

.bodyInput:focus{
    outline: none;
}

.buttonBlock{
    text-align: right;
    margin: 20px 40px;
}

.saveButton{
    font-size: larger;
}