.topPanel{
    width: 100%;
}

.buttonsBlock{
    position: absolute;
    top: 20px;
    right: 40px;
    float: right;
}

.manageButton{
    width: 70px;
    margin-left: 10px;
}

.recordTitle{
    text-align: left;
    margin: 20px;
    margin-bottom: 10px;
}


.recordBody{
    color: #282c34;
    overflow: auto;
    max-height: 700px;

    text-align: left;
    margin-left: 20px;
}

.buttonPanel{
    width: 100%;
}

.createdAt{
    color: #898989;
    position: absolute;
    bottom: 10px;
    right: 40px;
}
