.records{
    display: flex;
    flex-direction: row;

    width: 1200px;
    margin: 50px auto;
    flex-wrap: wrap;

    justify-content: center;
}

.recordsBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}