.header{
    width: 100%;
    min-height: 80px;
    background-image: linear-gradient(to bottom , rgb(207, 253, 255), rgb(255, 255, 255));

    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 40px;
    margin-top: 10px;

    font-size: 45px;
}

.logoutButton{
    margin-right: 40px;
    margin-top: 10px;
    font-size: 20px;
    height: 40px;

    transition: linear 0.6s;
}
